html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main{
   padding-bottom: 60px;
   padding-top: 60px;
  
}

.row{
    display: flex;
    justify-content: center;
}
 /* Darker background on mouse-over */
.user-locked{
    color: red;
 }
.user-active{
    color: green;
}

.add-user{
    text-align:left;
    font-size: 20px;
}

/*#myTable{
    padding: 5rem;*/
    /*border-collapse:revert*/
/*}*/
.table-manager{
    background:#fff;
    overflow-y:auto;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.5);
    border-radius:10px;
    padding: 5rem;
}
.table-manager {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

.table-manager thead th,
.table-manager tbody td {
    padding 15px;
    border none;
    font-weight: 600;
    font-size: 14px;

}

.table-manager thead th {
    background: #1861ac;
    color: white;
    font-size: 16px;
    position: sticky;
    top: -1%;
}
.table-manager tbody td {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dataTables_scrollHeadInner,.table {
    width: 100% !important;
}