html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main{
   padding-bottom: 60px;
   padding-top: 60px;
  
}

.row{
    display: flex;
    justify-content: center;
}
 /* Darker background on mouse-over */
.user-locked{
    color: red;
 }
.user-active{
    color: green;
}

